{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.6"}
        org.babashka/ffi {:mvn/version "0.1.2"}}
 :aliases
 {:project
  {:jvm-opts
   ["--enable-native-access=ALL-UNNAMED"]}
  
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.14"}}
          :ns-default build}}}
